/* TOOLS */

.ta-center {

    text-align: center!important;

}

/* HOME */

* {
    margin: 0;
}

*::selection {

    background-color: #66b1fcb7;

}

body {

    font-family: 'Quicksand', sans-serif;
    text-align: center;

}

h1, h2, h3, h4, p {

    color: #005CBF;

}

.separador {

    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 2px solid rgb(184, 184, 184);

}

#separadorZ {

    margin-top: 250px;

}

.links a, a:visited {
    color: white;
    text-decoration: none;
    padding: 19px;
    font-size: 20px;

}

.links a:hover {

    background-color: #226cbb;

}

.TablaTrainees {
    width: 60%;
}

.TablaTrainees, .TablaTrainees th, .TablaTrainees td {

    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;

}

.TablaTrainees caption {

    font-weight: bold;
    color: #005CBF;
    font-size: 25px;
    margin-bottom: 10px;

}

.TablaTrainees th {

    color: white;
    background-color: #226cbb;

}

.TablaTrainees tr:nth-child(even) {
    background-color: #66b1fccb;
}

.TablaTrainees tr:nth-child(odd) {
    background-color: #dada5ecb;
}

nav {
    display: flex;
    position: sticky;
    z-index: 2;
    align-self: flex-start;
    top: 0;
    overflow-y: auto;
}

.navbar {
    font-family: "Righteous", sans-serif;
    display: flex;
    position: sticky;
    align-self: flex-start;
    top: 0;
    overflow-y: auto;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(12,116,204,1) 60%, rgba(12,116,204,1) 100%, rgba(12,116,204,1) 100%);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(184, 184, 184);
}

#separadorlogo {

    margin-top: 0!important;
}

.lista {

    display: inline-block;
    text-align: left;

}

.flex {

    display: flex;
    justify-content: space-around;
}

.e-index {

    margin-left: auto;
    margin-right: auto;
    
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

.espaciador {

    margin-top: 30px;

}

.cuadrado-azul {

    position: static;
    width: 200px;
    height: 200px;
    background-color: #226cbbce;

}

.cuadrado-verde {

    position: absolute;
    top: 930px;
    left: 365px;
    z-index: -1;
    width: 200px;
    height: 200px;
    background-color: #2bca6bd2;
}

.cuadrado-rojo {

    position: absolute;
    top: 930px;
    left: 242px;
    z-index: -2;
    width: 200px;
    height: 200px;
    background-color: #ce3737c0;

}

.cuadrado-violeta {

    position: absolute;
    top: 996px;
    z-index: 1;
    width: 200px;
    height: 200px;
    background-color: #830bd8b7;

}

.z-index-ejemplo h3{

    font-weight: bold;
    color: white!important;

}

.div-messi {

    position: relative;

}

.div-messi h2 {

    text-shadow: 8px 8px rgb(15, 214, 164);

}

.div-messi h3 {

    position: absolute;
    top: 30%;
    left: 55%;

}

.img-messi {

    width: 500px;
    width: 500px;
    opacity: 0.7;
    border: 1px solid rgb(184, 184, 184);

}

.div-overflow-scroll {

    width: 350px;
    height: 250px;
    border: 1px solid rgb(184, 184, 184);
    overflow: scroll;

}

.div-overflow-hidden {

    width: 350px;
    height: 250px;
    border: 1px solid rgb(184, 184, 184);
    overflow: hidden;

}

.circulo {

    margin-left: auto;
    margin-right: auto;
    height: 125px;
    width: 125px;
    background-color: #226cbb;
    border-radius: 50%;
    float: top;

}

.div-float {

    height: 1%;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}



/* CONTACTO */

.contact_form {	

    font-family: "Righteous", sans-serif;
    width: 500px; 
    height: auto;
    margin: 80px auto;
    border-radius: 25px;
	text-align: left; 
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 

}


.formulario input {

	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #226cbb; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 

}


.formulario textarea {

    background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #226cbb; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
     padding-top: 15px; 

}


.formulario label {
    
    display: block; 
	float: center; 	

}


.formulario button {

	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #226cbb; 
	border-color: #226cbb; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;

}


.formulario button p {

	color: #fff; 

}


.marca-obligatoria::after {

	color: #ec576b;
    content: " * "; 

}


.aviso {
    
	font-size: 14px;  
	color: #0e0e0e;  

}


.formulario p {

	font-size: 18px; 
	color: #0e0e0e; 

}

.formulario input:focus { 

	outline:0;
	border: 1px solid #07EEE7;

}

.formulario textarea:focus {

	outline:0;
	border: 1px solid #07EEE7;

}

.DOM p {

    margin-top: 10px;
}

/* CLIENTES */

.contenedor-clientes {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.parte-izquierda {

    padding: 10% 6%;
	box-sizing: border-box;
    min-width: 60%;
    min-height: 961px;
    background-color: #226cbb;

}

.parte-izquierda h1, .parte-izquierda h2, .parte-izquierda h3, .parte-izquierda h4, .parte-izquierda p {

    text-align: left;
    color: white!important;

}

.parte-izquierda img {

    margin-top: 10%;
    width: 80%;

}

.parte-derecha {

    padding: 10% 4%;
	box-sizing: border-box;
    width: 40%;

}

/* Google Icons */

.material-icons, .material-icons-round, .material-icons-sharp, .material-icons-outlined, .material-icons-two-tone {
    
    margin-right: 5px;
    vertical-align: text-bottom;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* FOOTER */

.contenedor-footer {
    font-family: "Righteous", sans-serif;
    margin-top: 40px;
    border-top: 2px solid rgb(184, 184, 184);
    background-color: #226cbb;

}

.contenedor-footer h1, .contenedor-footer h2{

    color: white;
    vertical-align:sub;

}

.contenedor-footer i {
    margin: 0!important;
}