/* TOOLS */

.ta-center {

    text-align: center!important;

}

/* HOME */

* {
    margin: 0;
}

body {

    font-family: 'Quicksand', sans-serif;
    text-align: center;

}

h1, h2, h3, h4 {

    color: #005CBF;

}

.separador {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 2px solid rgb(184, 184, 184);

}

.links a, a:visited {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 19px;
    font-size: 20px;

}

.links a:hover {

    background-color: #226cbb;

}

.TablaTrainees {
    width: 60%;
}

.TablaTrainees, .TablaTrainees th, .TablaTrainees td {

    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;

}

.TablaTrainees caption {

    color: #005CBF;
    font-size: 25px;
    margin-bottom: 10px;

}

.TablaTrainees th {

    color: white;
    background-color: #226cbb;

}

.TablaTrainees tr:nth-child(even) {
    background-color: #66b1fccb;
}

.TablaTrainees tr:nth-child(odd) {
    background-color: #dada5ecb;
}


.navbar {
    font-family: "Righteous", sans-serif;
    display: flex;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(12,116,204,1) 60%, rgba(12,116,204,1) 100%, rgba(12,116,204,1) 100%);
    justify-content: space-between;
    align-items: center;
}

#separadorlogo {

    margin-top: 0!important;
}

.lista {

    display: inline-block;
    text-align: left;

}


.flex {

    display: flex;
    justify-content: space-around;
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

/* CONTACTO */

.contact_form {	

    font-family: "Righteous", sans-serif;
    width: 500px; 
    height: auto;
    margin: 80px auto;
    border-radius: 25px;
	text-align: left; 
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 

}


.formulario input {

	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #226cbb; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 

}


.formulario textarea {

    background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #226cbb; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
     padding-top: 15px; 

}


.formulario label {
    
    display: block; 
	float: center; 	

}


.formulario button {

	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #226cbb; 
	border-color: #226cbb; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;

}


.formulario button p {

	color: #fff; 

}


.marca-obligatoria {

	color: #ec576b; 

}


.aviso {
    
	font-size: 14px;  
	color: #0e0e0e;  

}


.formulario p {

	font-size: 18px; 
	color: #0e0e0e; 

}

.formulario input:focus { 

	outline:0;
	border: 1px solid #07EEE7;

}

.formulario textarea:focus {

	outline:0;
	border: 1px solid #07EEE7;

}

/* CLIENTES */

.contenedor-clientes {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.parte-izquierda {

    padding: 10% 6%;
	box-sizing: border-box;
    min-width: 60%;
    min-height: 961px;
    background-color: #226cbb;

}

.parte-izquierda h1, .parte-izquierda h2, .parte-izquierda h3, .parte-izquierda h4, .parte-izquierda p {

    text-align: left;
    color: white!important;

}

.parte-izquierda img {

    margin-top: 10%;
    width: 80%;

}

.parte-derecha {

    padding: 10% 4%;
	box-sizing: border-box;
    width: 40%;

}